# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.pidb
*.suo
*.userprefs
*.unityproj
*.booproj

# Visual Studio
.vs/
*.csproj
*.sln
Assembly-CSharp*.csproj

# OS
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt

# Project local
StarConnect.zip
Screenshots/
.claude/
